<!DOCTYPE html>
<html>
<div class="center jumbotron">

   <header>
     <title>hellllllp</title>
   </header>

   <div class = "row">
     <aside class= "col-md-4">
        <section class = "user_info">
            <%= @user.name %>, <%= @user.email %>
        </section>

     </aside>
      <div class="col-md-8">
              <% if @user.parking_places.any? %>
                  <h3>Parkovacie miesta (<%= @user.parking_places.count %>)</h3>
                  <ol class="parking_places">
                    <% @parking_places.each do |p| %>
                        <h4 class="user">
                          <%= link_to @user.name, @user %>
                        </h4>


                        <h3 class="content">
                          <%= p.spz %>
                        </h3>

                        <h4>
                          <%= p.location.city %>
                        </h4>
                        <h4>
                          Ulica: <%= p.ulica %>
                        </h4>
                        <h7 class="timespan">
                          Posted <%= time_ago_in_words(p.created_at) %> ago.
                        </h7>



                        <%= form_for(@rental) do |f| %>
                             <% @rental.parking_place_id = p.id %>
                            <%= render 'shared/error_messages', object: f.object %>
                            <div class="field">
                              <%= f.hidden_field :parking_place_id %>
                              <%= hidden_field_tag 'selected', 'none'  %>

                              <%= f.text_field :price, placeholder: "Cenu" %>

                              <p><%= f.datetime_select :from %>
                                <%= f.datetime_select :to %></p>
                            </div>
                            <%= f.submit "Vytvor", class: "btn btn-primary" %>


                        <% end %>





                        <% if current_user.name == 'Monika Filipcikova'%>
                            <%= link_to 'Zmaz parkovacie miesto', p , method: :delete,
                                        data: { confirm: "You sure?" } %>
                        <%end%>
                        <div class="col-sm-12">


                          <hr>

                          </hr>

                        </div>
                        <%end%>
                   </ol>

               <% end %>
       </div>

    </div>
</div>


</html>
