
<%= form_for(@rental) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.hidden_field :parking_place_id %>
      <%= hidden_field_tag 'selected', 'none'  %>

     <p> <%= f.text_field :price, placeholder: "Cena" %> Eur/hod.</p>

      <p><%= f.datetime_select :from %>
        <%= f.datetime_select :to %></p>
    </div>
    <%= f.submit "Vytvor", class: "btn btn-primary" %>


<% end %>