<% @volne  = true%>

<% @rezervacie = @rental_last.reservations%>
<% @picovina = @rezervacie.count%>
<% if @rental_last != nil%>
    <% if @rezervacie.count > 0 %>
        <%while((@rental_last.from  + @hodina) < @rental_last.to)%>
            <% @rezervacie.each do |m| %>
                <%@pokus = m.from%>
                <%@pokus2 = (@rental_last.from + @hodina)%>
                <% if m.from == (@rental_last.from + @hodina) %>
                    <% @volne  = false%>
                <%end%>
            <% end %>
            <%if @volne == true%>
                <%@nove.push((@rental_last.from + @hodina))%>

            <%end%>
            <%@hodina = @hodina +1.hour%>
            <% @volne = true%>
        <%end%>
    <% else %>
        <%while((@rental_last.from  + @hodina) < @rental_last.to)%>
            <%@nove.push((@rental_last.from + @hodina))%>
            <%@hodina = @hodina +1.hour%>
        <%end%>
    <%end%>

<%end%>
<%if @nove.count ==0%>
    <h4 class="cervena">Parkovacie miesto už nemá voľné rezervácie</h4>
    <%else%>
    <h2> Voľné rezervácie</h2>
<% @i = @rental_last.id %>

<%= form_for(@reservation) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <% @reservation.rental_id = @i%>
      <%= f.hidden_field :rental_id %>
      <% hidden_field_tag :rental_id , :@i  %>
      <%= f.select :from, options_for_select(@nove) %>

    <%= f.submit "Rezervuj parkovacie miesto", class: "btn btn-primary" %>

    </div>
<% end %>
<%end%>