<!DOCTYPE html>
<html>
<head>


</head>
  <% if parking_place.rentals.count > 0 %>
<h4 class="user">
  <%= link_to parking_place.user.name, parking_place.user %>
</h4>


<h3 class="content">
     <%= parking_place.spz %>
  <%= parking_place.rentals.last.price %> € /hod.
</h3>

<h4>
    <%= parking_place.location.city %>
</h4>
<h4>
     Ulica: <%= parking_place.ulica %>
</h4>
<h7 class="timespan">
     Posted <%= time_ago_in_words(parking_place.created_at) %> ago.
</h7>

    <h3>
      volne od <b><%=parking_place.rentals.last.from.to_formatted_s(:short)%></b> do <b><%=parking_place.rentals.last.to.to_formatted_s(:short)%></b>
    </h3>
      <% @nove.each do |m| %>
    <%= m %>
<% end %>
    <% parking_place.rentals.each do |r| %>
      <%= render 'shared/reservation_form'%>
        <%end%>

    <% if current_user.name == 'Monika Filipc'%>
             <%= link_to 'Zmaz parkovacie miesto', parking_place, method: :delete,
                          data: { confirm: "You sure?" } %>
         <%end%>
    <div class="col-sm-12">


     <hr>

      </hr>

     </div>

<% end %>
</html>