<!DOCTYPE html>
<html>
<head>


</head>
<div class ="obdlznik">
  <% if parking_place.rentals.count > 0 %>
<h4 class="user">
  <%= link_to parking_place.user.name, parking_place.user %>
</h4>


<h3 class="content">
  Ulica: <%= parking_place.ulica %>

  <span class="posun"><%= parking_place.rentals.last.price %> € /hod.</span>
</h3>
     <h4>SPZ: <%= link_to parking_place.spz, parking_place.user %> Mesto: <%= parking_place.location.city %></h4>

<h4>

</h4>



      <h4 class="timespan">
      Na prenájom <b><%=parking_place.rentals.last.from.to_formatted_s(:short)%></b> - <b><%=parking_place.rentals.last.to.to_formatted_s(:short)%></b>
    </h4>



<% @rental_last  = parking_place.rentals.last %>


<% @nove = []%>
    <% @hodina = 0.hour %>


      <%= render 'shared/reservation_form'%>


    <% if current_user.name == 'Monika Filipc'%>
             <%= link_to 'Zmaz parkovacie miesto', parking_place, method: :delete,
                          data: { confirm: "You sure?" } %>
         <%end%>
    <div class="col-sm-12">


     <hr class="hrr">

      </hr>

     </div>

<% end %>
</div>

</html>