<%= form_tag(controller: "parking_places") do %>

   <!--<p><%= label_tag(:q, "SPZ") %></p>-->
   <!-- <%= text_field_tag(:q) %>-->
        
    <p><%= label_tag(:s, "Ulica") %></p>
    <%= text_field_tag(:s) %>
    <%= submit_tag("Vyhladaj")%>
    <!--<%= render 'parking_places/search_results'%>-->
<% end %>